// Colors
$primary: #FE5F1E;
$primary-hover: #b23301; 
$secondary: #F8F8F8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;
$greenish:#495f41;



// $primary: #71C9CE;
// $primary-hover:  #00ADB5;
// $secondary: #B6EADA;
// $pure: #fff;
// $dark: #232323;
// $gray: #ccc;
// $greenish:#495f41;

//Transition
$smooth:all 0.3s ease-in-out;